@import "./Utils/_variables.scss";
@import "./Utils/_mixins.scss";
@import "./Base/_typo.scss";


/* REGLES GLOBAL*/


*
{
box-sizing: border-box;
}
body
{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}
.btn
{
    font-weight: 700;
    font-family: 'Roboto';
    text-decoration: none;
    border: none;
    @include shadow-btn;
}




/* HEADER */

header
{
    position: relative;
    padding: 3% 0% 2% 0%;
    text-align: center;
    & .back-link{
        position: absolute;
        left: 15px;
        top: 20px;
        font-size: 20px;
    }
    
}


    /* SECTION CALL TO ACTION
    - placer ligne ombré
    - retravailler mixin shadow-btn
    - survol
    */

    .btn-cta
    {
        width: 200px;
        height: 45px;
        margin-top: 3%;
        border-radius: 50px;
        color: $txt-white;
        background: linear-gradient(to top left, $primary-color, $secondary-color);
    }
    .cta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg-color;
        text-align: center;
        padding: 0% 0% 15% 0%;
        & h2{
            width: 75%;
            margin-bottom: -2%;
        }
        & p{
            width: 90%;
            font-size: 110%;
        }
        &__local{
            width: 100%;
            text-align: center;
            background-color: darken($color: $bg-color, $amount: 6%);
            font-size: 120%;
            font-weight: bold;
            margin-bottom: 5%;
            & i{
                margin-right: 4%;
                margin-top: -1%;
            }
        }
    }

/* SECTION FONCTIONNEMENT
- couleur <i>
- couleur bouton
- survol
*/

    .fct{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h2{
            align-self: flex-start;
            text-indent: 20px;
        }
    }

    .btn-fct{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 325px;
        height: 75px;
        border-radius: 25px;
        margin-bottom: 5%;
        & p{
            font-weight: 700;
        }
        & .nbr{
            width: 25px;
            height: 25px;
            border-radius: 25px;
            color: $txt-white;
            background-color: $primary-color;
            text-align: center;
            padding-top: 3px;
            margin-left: -18px;
            margin-right: 10px;
        }
        & i{
            font-size: 22px;
            width: 40px;
            margin-right: 15px;
        }
        & .step{
            font-size: 105%;
        }
    }

/* SECTION RESTAURANT 
- survol
*/

.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    padding-top: 8%;
    padding-bottom: 10%;
    & h2{
        align-self: flex-start;
        text-indent: 20px;
    }
    &__card{
        border-radius: 20px;
        background-color: $txt-white;
        width: 90%;
        height: 300px;
        margin-bottom: 5%;
        position: relative;
        @include shadow-btn;
            & img{
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            height: 75%;
            }
            & h3, p{
                text-indent: 15px;
            }
            & h3{
                margin-top: 2%;
            }
            & p{
                margin-top: -4%;
                font-weight: 400;
            }
            & .new{
                position: absolute;
                right: 10px;
                top: 10px;
                text-align: center;
                padding: 8px 15px 8px 15px;
                border-radius: 3px;
                font-weight: 700;
                background-color: $tertiary-color;
                color: darken($color: $tertiary-color, $amount: 40%);
            }
            & .coeur{
                &:hover > .fas {
                    opacity: 1;
                    }
                    &:hover > .far {
                    opacity: 0;
                    }
            }
            & i{
                font-size: 25px;
            }
            & .fas{
                position: absolute;
                right: 15px;
                bottom: 25px;
                background: linear-gradient(90turn, $secondary-color, $primary-color);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: opacity, 1000ms;
            }
            & .far{
                position: absolute;
                right: 15px;
                bottom: 25px;
                opacity: 1;
                transition: 1000ms;}
        
    }
}

/* PAGE RESTAURANT

photo intro */

.page-prev{
    width: 100%;
    & img{
        object-fit: cover;
        width: 100%;
    }
}

.menu-page{
    width: 100%;
    background-color: $bg-color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -15%;
    position: relative;
    padding: 4% 3% 5% 3%;
    & .menu-title{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        & i{
            font-size: 30px;
        }
    }
    & .underline {
        width: 50px;
        height: 2px;
        background-color: $tertiary-color;
        margin-bottom: 5%;
    }
    & .coeur{
                &:hover > .fas-menu {
                    opacity: 1;
                    }
                    &:hover > .far-menu {
                    opacity: 0;
                    }
            }
    & .fas-menu{
        position: absolute;
        right: 15px;
        top: 40px;
        background: linear-gradient(90turn, $secondary-color, $primary-color);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity, 1000ms;
    }
    & .far-menu{
        position: absolute;
        right: 15px;
        top: 40px;
        opacity: 1;
        transition: 1000ms;}
}
.btn-menu
{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 3% 0% 0% 0%;
    padding: 0% 15px 0% 10px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include shadow-btn;
    transform: translateY(0);
    animation: apparition-plat 2000ms;
    &:hover > .anim-coche {
        transform: translateX(0);
    }
    &:hover > .anim-coche i {
        transform: rotate(0turn)
    }
    &:hover > .price{
        transform: translateX(-200%);
    }
    &:hover > p{
        width: calc(100% - 70px);
    }
    & p{
        line-height: 1.5;
        padding-right: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: block;
        transition: width 400ms;
    }
    & .price{
        position: absolute;
        right: 5%;
        bottom: 14px;
        font-weight: 900;
        font-size: 110%;
        transform: translateX(0);
        transition: transform 400ms;
    }
}

.anim-coche
{
    position: absolute;
    right: 0;
    top: 0;
    background-color: $tertiary-color;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 70px;
    height: 80px;
    transform: translateX(105%);
    transition: transform 400ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & i {
        color: white;
        font-size: 30px;
        transform: rotate(-1turn);
        transition: transform 400ms;
    }

}
@keyframes apparition-plat {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn-order
{
    margin: 0 auto;
    width: 200px;
    padding-top: 5%;
}

/* FOOTER 
- espace entre <i> et texte
*/

.footer-accueil{
    background-color: $bg-footer-color;
    & div{
        padding: 5% 0% 3% 5%;
    }
    & span, a{
        color: $txt-white;
    }
    & span{
        font-family: 'Shrikhand';
        font-size: 115%;
    }
    & ul{
        margin-left: 0;
        padding-left: 0;
        & li{
            margin-bottom: 2%;
            & i{
                margin-right: 10px;
            }
            & .fa-hands-helping{
                font-size: 14px;
                margin-right: 5px;
            }
        }
    }
}