h1
{
    font-family: 'Shrikhand';
}
h2, h3
{
    font-weight: 900;
}
h4
{
    font-size: 900;
    font-weight: 300;
    text-transform: uppercase;
}
p
{
    font-weight: 300;
}
.bold{
    font-weight: 900;
}

.bck{
    font-weight: 900;
    font-size: 115%;
}

