/* FONT */
h1
{
    font-family: 'Shrikhand';
}
.shrik{
    font-size: 165%;
}
h2, h3
{
    font-weight: 900;
}

h4
{
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 4%;
}
p
{
    font-weight: 300;
}
.bold{
    font-weight: 900;
}

.bck{
    font-weight: 900;
    font-size: 115%;
    margin-bottom: -10px;
}