/* LOADING SPINNER */
.loader {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: loader-time 2000ms forwards;
    //display: none;
    z-index: 10001;
    overflow: hidden;
    background: $bg-footer-color;
    opacity: 1;
}
.spin{
    z-index: 10002;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 6px solid $tertiary-color;
    border-top: 6px solid $secondary-color;
    border-bottom: 6px solid $secondary-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 1;
    animation: spinning 1s linear infinite;
}

.oh-load{
    z-index: 10003;
    width: 100%;
    font-family: 'Shrikhand';
    font-size: 300%;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: oh-pacity 2000ms ease-in-out forwards;
}

@keyframes spinning {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes loader-time {
    0% {
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

@keyframes oh-pacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}