/* SECTION CALL TO ACTION */

    .btn-cta
    {
        margin-top: 3%;
        padding-top: 12px;
    }
    .cta{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $bg-color;
        text-align: center;
        //padding: 0% 0% 15% 0%;
        & h2{
            width: 75%;
            //margin-bottom: -1%;
        }
        & p{
            width: 90%;
            font-size: 110%;
        }
        &__local{
            width: 100%;
            text-align: center;
            background-color: darken($color: $bg-color, $amount: 6%);
            font-size: 120%;
            font-weight: bold;
            margin-bottom: 5%;
            & i{
                margin-right: 2%;
                margin-top: -1%;
            }
            & p{
                font-weight: 700;
                width: 100%;
            }
        }
    }

/* SECTION FONCTIONNEMENT*/

.fct{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop-only-row;
    & h2{
        width: 90%;
        //margin-left: -155px;
        @include desktop-only-start;
    }
}

.etape-fct{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 70px;
    border-radius: 25px;
    margin-bottom: 5%;
    background: $bg-color;
    transition: 1000ms;
    @include shadow-btn;
    &:hover{
        background: lighten($color: $primary-color, $amount: 35%);
    }
    &:hover > i{
        color: $primary-color;
    }
    & p{
        font-weight: 700;
    }
    & .nbr{
        width: 25px;
        height: 25px;
        border-radius: 25px;
        color: $txt-white;
        background-color: $primary-color;
        text-align: center;
        padding-top: 3px;
        margin-left: -13px;
    }
    & i{
        text-align: center;
        font-size: 22px;
        width: 40px;
        text-indent: 20px;
        color: darken($color: $bg-color, $amount: 40%);
    }
    & .step{
        font-size: 105%;
        margin-left: 25px;
    }
}

/* SECTION RESTAURANT */

.restaurant{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: $bg-color;
padding: 8% 5% 10% 5%;
width: 100%;
@include desktop-only-row;
& h2{
    align-self: flex-start;
    @include desktop-only-start
}
&__card{
    border-radius: 20px;
    background-color: $txt-white;
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
    line-height: 60%;
    position: relative;
    @include desktop-main-card;
    @include shadow-btn;
        &:hover{
        @include shadow-btn-hover;}
        & img{
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 75%;
        }
        & h3, p{
            text-indent: 15px;
        }
        & p{
            
            font-weight: 400;
        }
        & .new{
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: center;
            padding: 8px 15px 8px 15px;
            border-radius: 3px;
            font-weight: 700;
            background-color: $tertiary-color;
            color: darken($color: $tertiary-color, $amount: 40%);
        }
        & .coeur{
            &:hover > .fas {
                opacity: 1;
                }
            &:hover > .far {
                opacity: 0;
                }
        }
        & i{
            font-size: 25px;
        }
        & .fas{
            position: absolute;
            right: 15px;
            bottom: 25px;
            background: linear-gradient(90turn, $secondary-color, $primary-color);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transition: opacity, 1000ms;
        }
        & .far{
            position: absolute;
            right: 15px;
            bottom: 25px;
            opacity: 1;
            transition: 1000ms;}
    
}
}