/* PAGE RESTAURANT*/

.page-prev{
    width: 100%;
    & img{
        object-fit: cover;
        width: 100%;
        @include desktop-acceuil-img;
    }
}

.menu-page{
    width: 100%;
    background-color: $bg-color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -15%;
    position: relative;
    padding: 15px 3% 5% 3%;
    & .menu-title{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        & i{
            font-size: 30px;
        }
    }
    & .underline {
        width: 50px;
        height: 2px;
        background-color: $tertiary-color;
        margin-bottom: 5%;
    }
    & .coeur{
        display: flex;
        justify-content: center;
        align-items: center;
                &:hover > .fas-menu {
                    opacity: 1;
                    }
                &:hover > .far-menu {
                    opacity: 0;
                    }
            }
    & .fas-menu{
        background: linear-gradient(90turn, $secondary-color, $primary-color);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity, 1000ms;
    }
    & .far-menu{
        opacity: 1;
        transition: 1000ms;}
}
.btn-menu
{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 3% 0% 0% 0%;
    padding: 0% 15px 0% 10px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include shadow-btn;
    transform: translateY(0);
    animation: apparition-plat 2000ms;
    &:hover > .anim-coche {
        transform: translateX(0);
    }
    &:hover > .anim-coche i {
        transform: rotate(0turn)
    }
    &:hover > .price{
        transform: translateX(-200%);
    }
    &:hover > p{
        width: calc(100% - 70px);
    }
    & p{
        padding-right: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: block;
        transition: width 400ms;
    }
    & .price{
        position: absolute;
        right: 5%;
        bottom: 14px;
        font-weight: 900;
        font-size: 110%;
        transform: translateX(0);
        transition: transform 400ms;
    }
}

.anim-coche
{
    position: absolute;
    right: 0;
    top: 0;
    background-color: $tertiary-color;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 70px;
    height: 80px;
    transform: translateX(105%);
    transition: transform 400ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & i {
        color: white;
        font-size: 30px;
        transform: rotate(-1turn);
        transition: transform 400ms;
    }

}
@keyframes apparition-plat {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.order
{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}