/* MIXINS */

@mixin shadow-btn($clr: darken($bg-color, 30%)){
    box-shadow: 3px 3px 8px $clr;
}

@mixin shadow-btn-hover($clr: darken($bg-color, 40%)){
    box-shadow: 5px 5px 8px $clr;
    transition: 1000ms;
}

@mixin bg-color-hover {
    background: linear-gradient(to top left, lighten($primary-color, 5%), lighten($secondary-color, 5%));
    transition: 1000ms;
}

@mixin bg-btn-hover {
    background: linear-gradient(to top left, $primary-color, $secondary-color);
}

/*MIXIN MEDIA QUERIES*/

$breakpoints: (
    desktop: 1024px
);

@mixin desktop-only-row {
    @media all and (min-width: map-get($breakpoints, desktop)) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@mixin desktop-only-start {
    @media all and (min-width: map-get($breakpoints, desktop)) {
        align-self: flex-start;
        width: 100%;
        margin-left: 3%;
    }
}

@mixin desktop-main-card {
    @media all and (min-width: map-get($breakpoints, desktop)) {
        width: 45%;
    }
}

@mixin desktop-acceuil-img {
    @media all and (min-width: map-get($breakpoints, desktop)) {
        height: 400px;
        object-position: 0px -350px;
    }
}